@font-face {
    font-family: "Ubuntu";
    src: local("UbuntuLight"),
    url("./fonts/Ubuntu-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Ubuntu";
    src: local("UbuntuRegular"),
    url("./fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu";
    src: local("UbuntuMedium"),
    url("./fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
}

html, body, div#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

th.MuiTableCell-head,
td.MuiTableCell-body,
th.MuiTableCell-body {
    border-bottom: none;
}
.MuiBox-root .MuiPaper-root {
    box-shadow: none;
}
.MuiBox-root .MuiTableCell-root {
    padding: 5px;
}
td.MuiTableCell-body a {
    color: #000000;
    font-size: 14px;
}
.tag-cloud {
    width: 675px;
}
.tag-cloud span:hover {
    text-decoration: underline;
}

footer a {
    color: #000;
}
